

h1{color: beige;font-family:Tahma}
h3{color: beige;font-family:Verdana}
p{color:#afb0b3;font-family:Tahoma}
pre{color:#afb0b3;font-family: Tahoma;}
cite{color:indianred;font-family: Tahma;}
a{color:azure;font-family:Tahoma}